


body { 
    /*background-color: #614051;*/
    background-color: #222;
    color: #eee;
    font-weight: normal;
}

.title-link {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: normal;
    color: #eee;
    text-shadow: 0 0 0.4em #eee;
}

.title-link:hover {
   color: #57bfea;
}

/** nav */

nav.top-bar {
    background-color: transparent;
    color: #222;
}

nav.top-bar .name h1 a {
    color: #222;
}


/** panel */
.panel { 
    border-width: 0; 
    vertical-align: middle;
}

.light-text h5, .light-text p, .light-text i {
    color: #fff;
}

.panel {
    min-height: 150px;
}

.bk-img-1 {
    background-image: url(http://placekitten.com/600/600);
    background-repeat: no-repeat;
    background-size: 100%;
}


.bk-img {
    background-image: url(http://placekitten.com/300/300);
    background-repeat: no-repeat;
    background-size: 100%;
}

.color-green {
    background-color: #98ca46;
}

.color-blue {
    background-color: #57bfea;
}

.color-none {
    background-color: transparent;
}

.color-light-gray, .color-light-grey {
    background-color: #c1c1c1;
}

.color-gray, .color-grey {
    background-color: #4c4c4c;
}

.color-red {
    background-color: #900;
}

.color-orange {
    background-color: #c70;
}

.color-purple {
    background-color: #906;
}

.color-dark-blue {
    background-color: #008;
}