<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale: 1.0" />
    <title>{{ page.title }}</title>
    <style>
      /*@import url(http://fonts.googleapis.com/css?family=Inconsolata);*/
      @import url(http://fonts.googleapis.com/css?family=Ubuntu);
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
    </style>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
  </head>

  <body>

    <div class="container">
      <div class="hero-unit center">
        <div class="title-logo">
          <!-- <img src="http://placehold.it/350x150" /> -->
          <img src="http://lorempixel.com/g/350/150/cats/6" />
        </div>
      </div>

      <div class="navbar">
        <div class="center"> 
          <ul class="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/blog.html">BLOG</a></li>
            <li><a href="http://www.github.com/scotthaleen">GITHUB</a></li>
          </ul>
        </div>
      </div>

      <div class="row center">
        <hr />
      </div>
      <div class="row">
        {{ content }}        
      </div>
    </div>
    <script type="application/javascript" data-main="/script/main"
    src="/js/require.js"></script>    
  </body>
</html>
